{% load i18n %}
{% load static %}
{% load has_group %}
<!-- &copy; 2015-2017 Videntity Systems, Inc.  --> 
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{% url 'home' %}" contenteditable="false"
            class="navbar-brand"
            style="vertical-align:top;max-height:100%;max-width:100%">
            <img src="{% static 'img/favicon/favicon-32x32.png' %}"
                 style="vertical-align:text-top;max-height:100%;max-width:100%"></a>
        <a href="{% url 'home' %}" contenteditable="false"
           class="navbar-brand"
           alt="{{ settings.TOP_LEFT_TITLE }}">
                <strong>{{ settings.TOP_LEFT_TITLE }}</strong>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
          <li class="inactive"><a href="/"><i class="fa fa-home"></i> Home</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-question"></i>  Help <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{settings.DEVELOPER_DOCS_URI}}"><i class="fa fa-gears"></i> {{settings.DEVELOPER_DOCS_TITLE}}</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

		
		{% if user.is_authenticated %}

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tasks"></i> Applications <b class="caret"></b></a>
          <ul class="dropdown-menu">
           <li><a href="{% url 'oauth2_provider:authorized-token-list' %}"> <i class="fa fa-legal"></i> Application Access Tokens</a>
		       
           {% if user.is_staff or settings.DEBUG %}
           <li><a href="{% url 'oauth2_provider:list' %}">  <i class="fa fa-key"></i> Register Applications (Developers)</a>
            {% endif %}
           
           <li><a href="{% url 'test_links' %}">  <i class="fa fa-key"></i> Test Client (Developers)</a>

          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i> Your Data <b class="caret"></b></a>
          <ul class="dropdown-menu">
            
            
          {% ifequal id_token_payload.ial  "1" %}
            	<li><a href=""> <i class="fa fa"></i> No ID Verification.</a></li>
          {% endifequal %}
          
          
          {% ifequal id_token_payload.ial  "2" %}            
            	<li><a href="{% url 'fetch_cda' %}"> <i class="fa fa-download"></i> Refresh data from HIE {{settings.APPLICATION_TITLE}}</a></li>
            	<li><a href="{% url 'get_cda_raw_test' %}"> <i class="fa fa-download"></i> Download CDA (No auto-refresh)</a></li>
              <li><a href="{% url 'get_patient_fhir_content_test' %}"> <i class="fa fa-download"></i> Download FHIR 3 Patient Everything Bundle</a></li>
          {% endifequal %}


          {% ifequal id_token_payload.ial  "3" %}
            	<li><a href="{% url 'fetch_cda' %}"> <i class="fa fa-download"></i> Refresh data from HIE {{settings.APPLICATION_TITLE}}</a></li>
            	<li><a href="{% url 'get_cda_raw_test' %}"> <i class="fa fa-download"></i> Download CDA (No auto-refresh)</a></li>
              <li><a href="{% url 'get_patient_fhir_content_test' %}"> <i class="fa fa-download"></i> Download FHIR 3 Patient Everything Bundle</a></li>
          {% endifequal %}




          </ul>
        </li>

        {% else %}
           
           <li><a href="{% url "social:begin" "verifymyidentity-openidconnect" %}"> <i class="fa fa-sign-in""></i> Login</a></li>
           
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
              
                <li><a href="{% url "social:begin" "google-oauth2" %}"><i class="fa fa-sign-in"></i>  Login with Google+</a></li>
                <li><a href="{% url "social:begin" "google-openidconnect" %}"><i class="fa fa-sign-in"></i>  Login with Google OpenID Connect</a></li>
                <li><a href="{% url "social:begin" "instagram" %}"><i class="fa fa-sign-in"></i>  Login with Instagram</a></li>
                <li><a href="{% url "social:begin" "verifymyidentity-openidconnect" %}"><i class="fa fa-sign-in"></i>  Login with Verify My Identity</a></li>
              
              
              </ul>
            </li>
-->

        {% endif %}
        {% if user.is_authenticated %}
            <li><a href="{% url 'mylogout' %}">Logout <i class="fa fa-sign-out"></i></a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
