{% extends "oauth2_provider/base.html" %}

{% load i18n %}
{% block content %}
    <div class="block-center">
        {% if not error %}
            <form id="authorizationForm" method="post">

                <h5 class="block-center-heading">{% trans "Do you, " %} {{request.user.first_name|title }} {{request.user.last_name|title }}, approve </h5>
                
                  
                <h1>{{ application.name }}</h1>
                
      
                <p> {% trans "to access your personal information?" %} </p>
                            
                 <h4>{{ application.name }} {% trans "requires the following permissions:" %}</h4>
                
                <ul>
                  {% for p in settings.SPECIFIC_PERMISSIONS %}
                   <li>{{p}}</li>
                  {% endfor %}
                </ul>

                
                <h4>This may include:</h4>
                <ul>
                  {% for i in settings.SPECIFIC_DATA_ITEMS_IN_RESOURCES %}
                   <li>{{i}}</li>
                  {% endfor %}
                </ul>
                  
                <h4>By clicking "Approve" you also:</h4>
                
                
                <p></p>

                <ul>
                <li>Agree to the <a target="_blank" href="{% url 'data-source-agreement' %}">{{ settings.DATA_SOURCE_AGREEMENT_TITLE }}</a> </li>
                   {% for i in settings.SPECIFIC_OTHER_TERMS  %}
                        <li>{{i}}</li>

                {% endfor %}
                </ul>

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-large" value="Cancel"/>
                        <input type="submit" class="btn btn-large btn-primary" name="allow" value="Approve"/>
                    </div>
                </div>


                {% csrf_token %}

                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% endif %}
                {% endfor %}


                {{ form.errors }}
                {{ form.non_field_errors }}

            </form>

        {% else %}
            <h2>Error: {{ error.error }}</h2>
            <p>{{ error.description }}</p>
        {% endif %}

    </div>
{% endblock %}
